<!DOCTYPE html>
<html xmlns:th="http://www.Thymealft.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QUIZLAND</title>
    <link rel="stylesheet" href="css/estilos.css">
    <link rel="icon" type="img/jpg" href="iconos/icon.jpg">
</head>
<body>
    <div id="Principal">
        <header>
            <div id="logo">
                <img class="titulo" src="iconos/1cb9f77b-13d5-4a36-8069-1aeb7f889578.jpg" height="80px" width="380px" alt="">
            </div>
            <nav class="menu">
                <ul>
                    <li><a th:href="@{/Puntaje}">Puntajes</a></li>
                    <li><a th:href="@{/nosotros}">Nosotros</a></li>
                </ul>
            </nav>
        </header>
        <section id="slide">
            <img src="img/1_QtaZbWHG6xWe-dHwFIQFmA.png" alt="" width="900px" height="250px">
        </section>
        <section id="categorias">
            <section class="uno">
                <img src="iconos/Python-Logo.png" width="200px" height="200px" alt="">
                <h2>PYTHON</h2>
                <p>
                    Python es un lenguaje de programación interpretado cuya filosofía 
                    hace hincapié en la legibilidad de su código.​ Se trata de un lenguaje de 
                    programación multiparadigma
                
                </p>
                <a href="" class="leerMasPython">Coming soon...</a><br><br>
            </section>
            <section class="uno dos">
                <img src="iconos/306px-ISO_C++_Logo.svg.png" width="200px" height="200px" alt="">
                <h2>C++</h2>
                <p>
                    C++ es un lenguaje de programación diseñado en 1979 por Bjarne Stroustrup.
                     La intención de su creación fue extender al lenguaje de programación C mecanismos 
                     que permiten la manipulación de objetos 
                </p>
                <a href="" class="leerMasC">Coming soon...</a><br><br>
            </section>
            <section class="uno">
                <img src="iconos/download.png" width="200px" height="200px" alt="">
                <h2>JAVA</h2>
                <p>
                    Java es un lenguaje de programación y una plataforma informática 
                    que fue comercializada por primera vez en 1995 por Sun Microsystems              
                </p>
                <a th:href="@{/quiz}" class="leerMasJava">¡Comenzar!</a><br><br>
            </section>
        </section><!--/ final de categorias-->

        <footer>
            <p>
                (c) Todos los derechos reservados - Spring Boot 2020 <br>
                Contactanos a lm0324032020@gmail.com <a href="mailto:lm0324032020@gmail.com">Ir</a>
            </p>
        </footer>


    </div>
    
</body>
</html>