<!DOCTYPE html>
<html xmlns:th="http://www.Thymealft.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QUIZLAND</title>
    <link rel="stylesheet" href="css/estilos.css">
    <link rel="icon" type="img/jpg" href="iconos/icon.jpg">
</head>
<body>
	<div id="contacto">
		<h1 class="nom">QUIZLAND</h1>
		<p>QuizzLand es una página web gratis para practicar
			 tus conocimientos generales de diferentes 
			 lenguajes de programación. Encontrarás preguntas entretenidas 
			y un ambiente dinámico y divertido.</p>
		<p id="info">
			(c) Todos los derechos reservados - Spring Boot 2020 <br>
			Contactanos a lm0324032020@gmail.com <a href="mailto:lm0324032020@gmail.com">Ir</a>
		</p>

	</div>

</body>
</html>